<!DOCTYPE html>
<html>

<head>

    <title>Password Generator</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<header>

<h1>Password Generator</h1>

<p>Create a secure password.</p>

</header>


<main>

    <form method="POST">

        <label>Password Length:</label>
    
        <br><br>
    
        <input
            type="number"
            name="length"
            min="4"
            max="100"
            required>
    
        <br><br>
    
        <label>
            <input type="checkbox" name="uppercase">
            Include Uppercase
        </label>
    
        <br>
    
        <label>
            <input type="checkbox" name="numbers">
            Include Numbers
        </label>
    
        <br>
    
        <label>
            <input type="checkbox" name="symbols">
            Include Symbols
        </label>
    
        <br><br>
    
        <button type="submit">
            Generate Password
        </button>
    
    </form>
    
    
    {% if password %}
    
    <h2>Your Password</h2>
    
    <p>{{ password }}</p>
    
    {% endif %}

</main>

</body>

</html>