<!DOCTYPE html>
<html>

<head>
    <title>IT HelpHub Tools</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>

<header>

<h1>IT HelpHub Tools</h1>

<p>Useful IT utilities</p>

</header>


<main>

<h2>Available Tools</h2>


<ul>

    <li>
        <a href="/password-generator">
            Password Generator
        </a>
    </li>
    
    <li>Password Checker</li>
    
    <li>Network Checker</li>
    
    <li>System Information</li>
    
    </ul>


<a href="/">Back Home</a>


</main>


</body>

</html>